/*! ==UserStyle==
@name           Modern-Google-Calendar
@description    Google calendar but better
@namespace      github.com/Rui-San/better-google-cal
@homepageURL    https://https://github.com/Rui-San/modern-google-cal
@updateURL      https://userstyles.world/api/style/21900.user.css
@version        1.0.0
@author         RuiSan (https://github.com/Rui-San)
@license        MIT
==/UserStyle== */

/*!